*.db

pgportfolio/net_config.json

binance_api/orderbook_symbol_string.txt
binance_api/socket_api_array.log
binance_api/json_to_postgres.log
.vscode

ProdigyAI.code-workspace

wandb/*
!wandb/.gitkeep

models/*
!models/.gitkeep

temp/y_batch_total.h5


third_party_libraries/gam_rhn/95-FI2010/data/*
!third_party_libraries/gam_rhn/95-FI2010/data/.gitkeep

third_party_libraries/gam_rhn_original
third_party_libraries/gam_rhn_original/*

binance_api/nohup.out

pgportfolio/train_package/*
data/UCR/*
!data/UCR/.gitkeep
data/gpu_output/*
!data/gpu_output/.gitkeep
data/bars/*
!data/bars/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep
data/orderbook_preprocessed/*
!data/orderbook_preprocessed/.gitkeep
data/sktime/*
!data/sktime/.gitkeep

data/inputs_and_barrier_labels/*
!data/inputs_and_barrier_labels/.gitkeep

data/raw/*
!data/raw/.gitkeep

data/orderbook/*
!data/orderbook/.gitkeep

data/lob_2010/*
!data/lob_2010/.gitkeep

support_files/locations.py

temp/data_name.txt
!temp/.gitkeep
temp/data_name_gpu.txt


.vscode

spartan.code-workspace

log/*
!log/.gitkeep

model/*
!model/.gitkeep

__pycache__

code-server-1
code-server-2

.pytest_cache/*

logs/*
!logs/.gitkeep

*.log
*.out
